{% extends "base.html" %}



{% block content %}
<style media="screen">
  .lefttext{
    text-align:left;
  }
</style>
    <!-- Nav bar div starts -->
    <div class="container-fluid">





  </div>
  <!-- Nav Bar div ends -->
  <hr style="height:0.5px;border:none;background-color:#333;"/>

  <!-- Main div starts -->
  <div class="container-md">


    <div class="row">
      <div class="snipcard">
        <h4> <code>{{ snippet.title }} </code> </h4>
        <br>

          <!-- <pre class="precode"> -->
<pre class="precode">
{{ snippet.body }}
</pre>
          <!-- </pre> -->

          <!-- <hr> -->
          <!-- <a href="#" id="cont">Open Snippet</a> -->

          </div>
          <br>



</div>
<p class = "lefttext">{{ snippet.explanation }}</p>

      </div>
  <!-- Main div ends -->
<br>
<p>
  <a href="{% url 'csnip:snippet_share' snippet.id %}">
  Share this post</a>
</p>

{% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment {{ total_comments|pluralize }}
  </h2>
{% endwith %}

{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}

  </div>
{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
  <h2>Your comment has been added. </h2>
  <h2>Add Another one?</h2>
  <form class="" action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" name="" value="Add comment"></p>
  </form>
{% else %}
  <h2>Add a new comment </h2>
  <form class="" action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" name="" value="Add comment"></p>
  </form>
{% endif %}



{% block paginator %}{% endblock %}
{% block footer %}{% endblock %}
{% endblock %}


<!-- <hr>
<footer class="p-new"> <b>&#169; <code>A Vikrant Gawde Production</code> 2020</b></footer> -->

<!-- </html> -->
