<meta name = "viewport" charset="utf-8" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% extends "base.html" %}



{% block content %}
<style media="screen">
  .lefttext{
    text-align:left;
  }
</style>

  <!-- <hr style="height:0.5px;border:none;background-color:#333;"/> -->

  <!-- Main div starts -->



        <h4> <code>{{ snippet.title }} </code> </h4>
        <br>

<div class="row">


      <div class="col-md-6">


        <pre class="precode">
        {{ snippet.body|safe }}
        </pre>
      </div>
      <div class="col-md-6">


        <b>{{ snippet.explanation|safe }}</b>

      </div>
</div>








{% block paginator %} {% endblock %}
{% endblock %}
