<meta name = "viewport" charset="utf-8" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% extends "base.html" %}



{% block content %}
<style media="screen">
  .div-snipexp{
    padding-right:100px;
  }

  .div-snipexp1{

    padding-top:20px;
  }

  .div-snipbody{
    padding-left:100px;
  }

  .div-sniptitle{
    padding-left:100px;
    padding-top:20px;
  }

  .exp-header{

    padding-top:0px;
  }

  .div-snipbody:after {
    content: '';
    position: absolute;
    right: 0;
    border-right: 2px dotted #cfc7c0;
    top: 0%;
    bottom: 0%;
}
</style>



      <div class="row">
        <div class="div-sniptitle col-md-6">
            <h4><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a></h4>
        </div>
        <div class="div-snipexp1 col-md-6">
            <h4><code>Explanation</code></h4>
        </div>


        <br>

      </div>



<div class="row">




      <div class="col-md-6 div-snipbody">
        <br>
        <pre class="precode">
<b>{{ snippet.body|safe }}</b>
        </pre>
      </div>


      <div class="col-md-6 div-snipexp">
        <br>
        <b>{{ snippet.explanation|safe }}</b>
      </div>









</div>








{% block paginator %} {% endblock %}
{% endblock %}
