{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<style media="screen">
  .form-main-div{
    /* border: 1px dotted black; */
    background-color: white;
    text-align: center;
    /* height:1300px; */
    /* overflow:hidden; */
  }
</style>
<br><br><br>
<div class="row">


  <div class="container col-md-6 col-md-offset-3">


    <div class="form-main-div" align="center">


        <form class="smle" action="." method="post">
          <p> <b>Please Enter Title </b></p>




          {{ form.title|as_crispy_field }}

          <br>
          <br>
          <p align="left">{{ form.tags|as_crispy_field }}</p>
          <br>




            {{ form.media }}
            {% csrf_token %}
            <br>
            <div class="row">


                  <div class="col-6">
                    <p> <b><em>Please Paste Code Snip</em></b></p>
                    {{ form.body }}
                  </div>

                  <div class="col-6">
                    <p> <b><em>Please Explain your code snip</em></b></p>

                    {{ form.explanation }}
                  </div>

            </div>
            <br><br><br>
            <button type="submit" name="" class="btn btn-success">Create</button>

            </form>


      </div>
    </div>
</div>


{% block paginator %}{% endblock %}
{% endblock %}
