<meta name = "viewport" charset="utf-8" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/path/to/styles/default.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="/path/to/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% extends "base.html" %}
{% load social_share %}
{% block title %} Welcome to CodeSnip! {% endblock %}

{% block content %}
<style media="screen">
  .pree {


    background:white;
    height:400px;
    width:600px;
    text-align:left;
    border: 0.5px solid black;


  }

  .pree:hover{
      border: 6px solid black;
  }

  .tags{
    text-align:center;
  }

  *, *::before, *::after {
	box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
  .circle{
      border: 1px solid black;
      border-radius: 25px;
      height:100px;
      width:200px;
  }
.rainbow {
	position: relative;
	z-index: 0;
	width: 400px;
	height: 300px;
	border-radius: 10px;

	padding: 2rem;

	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
		animation: rotate 4s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}
}

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

</style>
<!-- <h1> Snippet List </h1> -->
<!-- {% if tag %}
  <h3 align="center">Snippets tagged with <b>'{{ tag.name }}'</b></h3>
{% endif %} -->

<br>

{% for snippet in snippets %}
      <div align="center" class="main-div">



          <a style="color:#172AD0;" href="{{ snippet.get_absolute_url }}"><h4><b>{{ snippet.title }}</b> </h4> </a>

            <b>
              <p class="tags">Tags:
              {% for tag in snippet.tags.all %}
              <b>  <a style="color:rgb(139,0,0);" href="{% url 'csnip:snippet_list_by_tag' tag.slug %}">
                  {{ tag.name }}
                </a></b>
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
              </p>
            </b>


              <!-- <pre class="precode"> -->



            <pre class='pree'>
<code>
{{ snippet.body|safe }}
</code>

    </pre>
    <br>
    <p>

<p><b>Posted by:<a style="color:red" href="{{ snippet.user.get_absolute_url }}"> {{ snippet.user }}</a></b></p>

<button style= "background-color:white;" class="btn btn-primary" name="button"><a style="color:rgb(0,0,0);" href="{{ snippet.get_absolute_url }} " id="cont"><b>Open Snippet</b></a></button>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">

    <b>  {% post_to_facebook  snippet.get_absolute_url "Facebook Me!" %}</b>
    </div>
    <div class="col-sm-4">
      <b>{% post_to_twitter "New Snippet: {{snippet.title}}. Check it out!" snippet.get_absolute_url "Tweet Me!" %}</b>
    </div>
    <div class="col-sm-4">

      <b>{% post_to_linkedin snippet.get_absolute_url %}</b>
      <!-- {% post_to_whatsapp snippet.get_absolute_url "Share via WhatsApp" %} -->
    </div>

  </div>
</div>










          <br>
          <hr class="style-five">
          <br>
      </div>
      <!-- Main div ends -->

<br>

{% endfor %}

{% endblock %}
{% include "pagination.html" with page=snippets %}
