{% extends "base.html" %}

{% block title %} Welcome to CodeSnips! {% endblock %}
<style media="screen">
  .precode{
    height:30px;
    width:50px;
    overflow:hidden;
  }
</style>
{% block content %}

<!-- <h1> Snippet List </h1> -->
{% if tag %}
  <h2>Posts tagged with "{{ tag.name }}"</h2>
{% endif %}

{% for snippet in snippets %}
      <div align="center">



            <h4> <b><code>{{ snippet.title }}</code></b> </h4>

            <b>
              <p class="tags">Tags:
              {% for tag in snippet.tags.all %}
                <a href="{% url 'csnip:snippet_list_by_tag' tag.slug %}">
                  {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
              </p>
            </b>


              <!-- <pre class="precode"> -->

          <pre>  <p class="precode">
            {{ snippet.body|safe }}
            </p></pre>



              <hr>
              <a href="{{ snippet.get_absolute_url }}" id="cont"><b>Open Snippet</b></a>




          </div>
      <!-- Main div ends -->

<br>

{% endfor %}

{% endblock %}
{% include "pagination.html" with page=snippets %}
