<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/path/to/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% extends "base.html" %}
{% block title %} Search for a Snip {% endblock %}
{% load crispy_forms_tags %}

<style media="screen">

</style>
{% block content %}

<div class="container">

  <br><br><br><br>
  {% if query %}

    <h3>
      <p align="center">
      {% with results.count as total_results %}
          <b>Look what we found :-) = Snippets containing "{{ query }}"</b>
         <p style="color:green;">{{ total_results }} result(s)</p>
      {% endwith %}</p>
      <h6><a style="color:red;" href="{% url 'csnip:snippet_search' %}"><b>Search Again</b></a></h6>

    </h3>

    {% for snippet in results %}
      <h4><a href="{{ snippet.get_absolute_url }}">{{ snippet.title }}</a></h4>


      <pre><code>{{ snippet.body|safe|truncatewords:100 }}</code></pre>

      <br>
      <b>{{ snippet.explanation|safe|truncatewords:50 }}</b>
      <hr>
    {% empty %}
      <p>There are no results for your query.</p>
    {% endfor %}


  {% else %}
        <br><br><br>
      <h3 align="center">  <b align = "center" style="color:maroon;"> Search for Code Snippets </b></h3>

        <form align="center" class="" action="." method="get">



          {{ form|crispy }}
          {% csrf_token %}
          <br>
          <div align="center">
              <button type="submit" class = "btn btn-success" name="" value="Search">Search</button>
          </div>

        </form>


  {% endif %}
</div>
<br><br><br><br><br>

{% endblock %}
{% block paginator %}

{% endblock %}
