{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Share a Snippet {% endblock %}

{% block content %}
<div class="container">


  {% if sent %}
    <h1>E-mail was sent Successfully.</h1>
    <br>
    <br>
    <p>
      "{{ snippet.title }}" was Successfully sent to {{ form.cleaned_data.to }}.
    </p>
  {% else %}
    <h1>Share "{{ snippet.title }}" by email.</h1>
    <hr>
    <form class="" action="." method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <p align="center"><input type="submit" name="" value="Send email"></p>
    </form>
  {% endif %}


</div>
{% block paginator %}{% endblock %}
{% endblock %}
