{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
      <h2>Snipper Sign In</h2>
      {% if form.errors %}
        <p>
          Your username and password did not match
          Please try again
        </p>
      {% else %}
        <p>Please , use the following form to sign-in. If you don't have an account <a href="{% url 'register' %}">Register here</a></p>
      {% endif %}
      <div class="login-form">
        <form class="" action="{% url 'login' %}" method="post">
          {{ form|crispy }}
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <button class = "btn btn-success" type="submit" value="Sign-In">Sign In</button>
        </form>
        <p><a href="{% url "password_reset" %}">Forgot password?</a></p>

      </div>



          <a href="{% url 'social:begin' 'facebook' %}"> <code>Sign in with Facebook</code> </a>
          <br>
          <a href="{% url 'social:begin' 'twitter' %}"><code> Sign in with Twitter </code></a>
          <br>
          <a href="{% url 'social:begin' 'google-oauth2' %}"> <code>Sign in with Google </code></a>
  </div>



      {% block paginator %} {% endblock %}
      {% block footer %} {% endblock %}
{% endblock %}
