{% extends "base.html" %}

{% block content %}
      <h2>Snipper Sign In</h2>
      {% if form.errors %}
        <p>
          Your username and password did not match
          Please try again
        </p>
      {% else %}
        <p>Please , use the following form to sign-in. If you don't have an account <a href="{% url 'register' %}">Register here</a></p>
      {% endif %}
      <div class="login-form">
        <form class="" action="{% url 'login' %}" method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <p><input type="submit" value="Sign-In"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Forgot password?</a></p>

      </div>
      {% block paginator %} {% endblock %}
      {% block footer %} {% endblock %}
{% endblock %}
