{% extends "csnip/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Reset your password...... {% endblock %}

{% block content %}
<br><br><br><br>
<div class="container">


  <h1>Forgotten your password? </h1>
  <p>Enter your e-mail address to obtain a new password.</p>
  <form class="" action="." method="post">
    {{ form|crispy }}
    <p><button class="btn btn-primary" type="submit" name="button">Send Email</button></p>
    <!-- <input type="submit" name="" value="Send e-mail"> -->
    {% csrf_token %}
  </form>
</div>
{% block paginator %}{% endblock %}
{% endblock %}
