{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name = "viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css"> -->

    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <!-- <link rel="alternate stylesheet" title="Arta" href="styles/arta.css" disabled> -->
    <script>hljs.initHighlightingOnLoad();</script>
    <title>{% block title %} Welcome to CodeSnip !{% endblock %}</title>






  </head>
  {% if request.user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand nav-item" href="{% url 'csnip:snippet_list' %}"><b style="color:white;">CodeSnips<b><</b>/<b>></b></b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'csnip:create' %}"><b>Create Snip</b> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'user_list' %}"><b>People</b></a>
      </li>
      <li class="nav-item dropdown">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'dashboard' %}"><b>Dashboard</b></a>
        </li>
<li class="nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user_detail' request.user.username %}"><b style="color:red;">Hey, {{ request.user.first_name }}!</b></a>
          <a class="dropdown-item" href="{% url 'edit' %}"><b>Edit Profile</b></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </li>
    &emsp;
      <li class="nav-item nav-link">
        <a style="color:red;" class="nav-link" href={% url "csnip:snippet_search" %}><b><i class="fa fa-search"></i></b></a>

      </li>
    </ul>

  </div>
</nav>
  <!-- <nav class= "navbar navbar-expand-lg fixed-top bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">




           <a class = "nav-link" href = "{% url 'csnip:snippet_list' %}">



            <b style="color:white;">CodeSnips<b><</b>/<b>></b></b>

          </a>






            <a style="color:white;" class="nav-link" href="{% url 'csnip:create' %}"><b>Create Snip</b></a>





            <a style="color:white;" class="nav-link" href="{% url 'user_list' %}">People</a>


            <a style="color:white;" class="nav-link" href="{% url 'user_detail' request.user.username %}">Hey, {{ request.user.first_name }}!</a>



              <a  style="color:white;" class="nav-link" href="{% url 'edit' %}">Edit Profile</a>

            <a style="color:white;" class="nav-link" href="{% url 'logout' %}"><b>Logout</b></a>
            <a style="color:white;" class="nav-link" href="{% url 'dashboard' %}"><b>Dashboard</b></a>
             <a style="color:red;" class="nav-link" href={% url "csnip:snippet_search" %}><b><i class="fa fa-search"></i></b></a>



             </div>

      </nav> -->



    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'csnip:snippet_list' %}"><b style="color:white;">CodeSnips<b><</b>/<b>></b></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'csnip:create' %}"><b>Create Snip</b> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'user_list' %}"><b>People</b></a>
        </li>
        <li class="nav-item dropdown">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'dashboard' %}"><b>Dashboard</b></a>
          </li>
          <li class="nav-item dropdown">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'login' %}"><b>Login</b></a>
            </li>
            <li class="nav-item dropdown">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'register' %}"><b>Sign Up</b></a>
              </li>

      &emsp;
        <li class="nav-item nav-link">
          <a style="color:red;" class="nav-link" href={% url "csnip:snippet_search" %}><b><i class="fa fa-search"></i></b></a>

        </li>
      </ul>

    </div>
  </nav>

  {% endif %}

  <body align="center">










        {% block content %}


        {% endblock %}




  </body>


    {% block paginator %}
    <div class="text-center d-flex justify-content-center">
      <b>{% include "pagination.html" with page=snippets %}</b>
    </div>
    {% endblock %}


    {% block footer %}
  <div class="container" align="center">


    <footer class="color-dark pt-4 my-xs-5 pt-md-5 border-top ">


          <!-- <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
          <b>CodeSnips<b><</b>/<b>></b></b>
          <br>
          <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>



        <a class="text-muted" href="{% url 'csnip:csnip-about' %}"><b>About</b></a>
        &emsp;
        <a class="text-muted" href="#"><b>Team</b></a>
        &emsp;
        <a class="text-muted" href="#"><b>Terms & Conditions</b></a>
        &emsp;
        <a class="text-muted" href="#"><b>Privacy</b></a>



    </footer>
</div>

    {% endblock %}


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script type="text/javascript">
    var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
          beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          }
        });
        $(document).ready(function(){
          {% block domready %}
          {% endblock %}
           });
    </script>


</html>
