<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<div class="pagination">




    <div class = "col-md-12 current">
      {% if page.has_previous %}
        <h3><a style="color:blue" href="?page={{ page.previous_page_number }}"> <b>Previous</b></a></h3>
      {% endif %}

        Page {{ page.number }} of {{ page.paginator.num_pages }}
        {% if page.has_next %}
          <h3><a style="color:green" href="?page={{ page.next_page_number }}"><b>Next</b></a></h3>
        {% endif %}
    </div>



</div>
