{% extends "csnip/base.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
<div class="container">

  <br><br><br><br>
  <h1>{{ user.get_full_name }}</h1>
  <p style="color:red;"><b> {{ user.profile.headline }}</b></p>
  <div class="profile-info">
    {% thumbnail user.profile.photo "180x180" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="user-detail">
    {% endthumbnail %}
  </div>
  {% with total_followers=user.followers.count %}
    <span class="count">
      <span class="total">{{ total_followers }}</span>
      follower{{ total_followers|pluralize }}
    </span>
    <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow">
      {% if request.user not in user.followers.all %}
        Follow
      {% else %}
        Unfollow
      {% endif %}
    </a>
    <br>
    <br>
    <!-- <hr> -->
    <div class="">
      {% for snippets in user_snippets %}
        <a href="{% url 'csnip:snippet_detail' snippets.created.year snippets.created.month snippets.created.day snippets.slug %}">{{ snippets.title }}</a>
        <br>
      {% endfor %}

    </div>

  {% endwith %}
</div>
{% block paginator %}{% endblock %}
{% endblock %}

{% block domready %}
  $('a.follow').click(function(e){
    e.preventDefault();
    $.post('{% url 'user_follow' %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.follow').data('action');


          $('a.follow').data('action',previous_action == 'follow' ? 'unfollow' : 'follow');

          $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');


          var previous_followers = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
        }
      }
    );
  });
{% endblock %}
