{% extends "base.html" %}
{% load thumbnail %}

{% block title %}People{% endblock %}



{% block content %}
<style media="screen">
  .user{
    border:0.5px dotted red;
    height:200px;
    width:600px;
  }
</style>

<div class="container">



  <h1>People</h1>

    {% for user in users %}
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
          {% thumbnail user.profile.photo "60x60" crop="100%" as im %}
            <img src="{{ im.url }}">
          {% endthumbnail %}
        </a>

          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
          </a>

      </div>
      <hr>
    {% endfor %}

  </div>
{% include "pagination.html" with page=users %}

{% endblock %}

{% block paginator %} {% endblock %}
