{% extends "csnip/base.html" %}
{% load thumbnail %}

{% block title %}People{% endblock %}



{% block content %}
<style media="screen">
  .user{



    border-radius:50px;

  }
  .user:hover {
    border: 2px dashed;
   border-color: black;

}

  .round-border{
    border: 0.2px solid black;
    border-radius: 50px;
    border-width: 50px;
  }
</style>

<div class="container" align="center">


  <br><br>
  <h3> <b> <u>Top 50 Contributors </u></b></h3>
  <br>
    {% for user in users %}
      <div class="user" align="center">
        <br>

        <a href="{{ user.get_absolute_url }}">
          {% thumbnail user.profile.photo "100x100" crop="center" as im %}
            <img class = "round-border" src="{{ im.url }}">
          {% endthumbnail %}
        </a>
          <br>
          <b><a href="{{ user.get_absolute_url }}" class="title">
            {{ user.username }}

          </a></b>

          <br><br>
          <b><a style="color:red;"href="{{ user.get_absolute_url }}">{{ user.snippets_created.count }} Snippets</a></b>


      </div>
      <br><br>
    {% endfor %}

  </div>
<!-- {% include "pagination.html" with page=users %} -->

{% endblock %}

{% block paginator %} {% endblock %}
