{% extends "base.html" %}
{% block title %} Create an account {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <style media="screen">

  </style>

<div class="container">

  <h1>Create an account </h1>
  <p><b>Please sign up using the following form:</b></p>
  <br>
  <br>
  <form class="" action="." method="post">
    {{ user_form|crispy }}
    {% csrf_token %}
    <!-- <p><input type="submit" name="" value="Create my account"></p>
   -->
   <button type="submit" class = "btn btn-success" name="button">Register</button>
  </form>
</div>
{% block paginator %}{% endblock %}
{% endblock %}
